:root {
    --background: #faebd7;
    --foreground: #292929;
    --shadowcolor: #c1c1c1;
}

[data-theme='dark'] {
    --background: #292929;
    --foreground: #faebd7;
    --shadowcolor: #616161;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.wrapper {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}