.rangeinput{
  grid-area: rangeinput;
}
.rangeinput__title{
  font-size: 20px;
  margin: 10px auto;

}
.rangeinput__inputs {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}
.rangeinput__input {
  border-radius: 10px;
  font-size: 18px;
  padding: 12px 10px;
  background-color: unset;
  border: 1px solid var(--foreground);
  width: 130px;
}


.rangeinput__slider {
  position: relative;
  width: 270px;
  height: 20px;
}

.rangeinput__track,
.rangeinput__range {
  position: absolute;
}

.rangeinput__track,
.rangeinput__range {
  border-radius: 3px;
  height: 5px;
}

.rangeinput__track {
  background-color: var(--shadowcolor);
  width: 100%;
  z-index: 1;
}

.rangeinput__range {
  z-index: 2;
  background-color: var(--foreground);
}



/* Removing the default appearance */
.rangeinput__thumb,
.rangeinput__thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.rangeinput__thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 270px;
  outline: none;
}

.rangeinput__thumb--zindex-3 {
  z-index: 3;
}

.rangeinput__thumb--zindex-4 {
  z-index: 4;
}

.rangeinput__thumb--zindex-5 {
  z-index: 5;
}

/* For Chrome browsers */
.rangeinput__thumb::-webkit-slider-thumb {
  background-color: #0083ff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.rangeinput__thumb::-moz-range-thumb {
  background-color: #0083ff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}