


.advert__error-title {
    font-size: 48px;
    text-align: center;
    margin-top: 50px;
}


.advert__error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advert__error-link {
    font-size: 24px;
}

.advert__error-link-arrow {
    transition: all .3s;
    position: absolute;
    right: -15px;
    width: 30px;
    fill: var(--shadowcolor);
}

.advert__error-link-arrow {
    margin-top: 50px;
    position: relative;
}

.advert__error-link:hover .advert__error-link-arrow {
    right: -25px;
    fill: #0083ff;
}




.advert__info-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.advert__img-box{
    width: 350px;
    height: 350px;
    position: relative;
}
.advert__img {
    border: 2px solid var(--background);
    border-radius: 10px;
}

.advert__info {
    width: 350px;
    display: grid;
    grid-template-areas:
        "title title"
        "subtitle subtitle"
        "city tel"
        "price chat"
    ;
    grid-template-rows: auto 1fr;
    gap: 10px;
}
.advert__grid-cells{
    background-color: var(--background);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--shadowcolor);
}

.advert__info-title {
    grid-area: title;
    font-size: 26px;
    font-weight: 600;
    color: #0083ff;
}

.advert__info-subtitle {
    grid-area: subtitle;
    font-size: 16px;
    
}

.advert__info-city {
    grid-area: city;
    text-align: center;
}

.advert__info-tel {
    grid-area: tel;
    text-align: center;
}


.advert__info-price {
    grid-area: price;
    text-align: center;
}

.advert__info-chat {
    grid-area: chat;
    text-align: center;
}
.advert__info-chat:hover {
    border: 1px solid #0083ff;
    transition: all .3s;
}