.catalog-card {
    width: 270px;
    padding: 20px 10px;
    border: 1px solid var(--shadowcolor);
    border-radius: 20px;
    gap: 15px;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas: "image image" "title title" "price city";
    transition: border .3s;
}
.catalog-card:hover {
    border: 1px solid #0083ff;
}

.catalog-card__link {
    grid-area: image;
}

.catalog-card__img {
    border-radius: 10px;
}



.catalog-card__title {
    margin-bottom: auto;
    font-size: 24px;
    color: var(--foreground);
    grid-area: title;
    word-wrap: break-word;
}

.catalog-card__price {
    font-size: 20px;
    grid-area: price;
    margin-top: auto;
}

.catalog-card__city {
    font-size: 20px;
    margin-top: auto;
    text-align: right;
    grid-area: city;
}